@import "../mixins";

.calendar_month {
  position: relative;

  @include responsive(smartphone-portrait) {
    display: none;
  }

  @include responsive(smartphone-landscape) {
    display: none;
  }

  @include responsive(tablet) {
    display: none;
  }

  // @include responsive(laptop) {
  //   display: none;
  // }
}

.calendar-month-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}

.calendar-month-header-selected-month {
  font-size: 24px;
  font-weight: 600;
}

.calendar-month-header-selectors {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.calendar-month-header-selectors > * {
  cursor: pointer;
}

.day_of_week {
  color: #9fadbd;
  font-size: 18px;
  background-color: rgb(21, 31, 46);
  padding-bottom: 25px;
  padding-top: 25px;
  font-weight: 500;
}

.day_of_week,
.days_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.day_of_week > * {
  text-align: center;
}

.days_grid {
  height: 100%;
  position: relative;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  border-top: solid 1px var(--grey-200);
}

.calendar_day {
  position: relative;
  min-height: 270px;
  font-size: 16px;
  background-color: #151f2e;
  color: rgb(159, 173, 189);
  padding-top: 25px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #0b1622;
  font-size: 0.8em;
  transition: all ease-in-out 0.2s;
}
.calendar_day:hover {
  background-color: rgb(61, 180, 242);
  color: #fff;
}

.calendar_day > span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 10px;
  width: 14px;
  height: 14px;
  font-weight: 500;
}

.calendar_day > .calendar_event {
  background-color: #e25b1d;
  border-radius: 15px;
  padding: 5px 15px;
  color: #fff;
  font-weight: 500;
  margin: 10px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 220px;
  font-size: 0.9em;
  display: block;
  transition: all ease-in-out 0.2s;
}

.calendar_day > .calendar_event:hover {
  background-color: #2b221e !important;
}

.calendar_day__not_current {
  background-color: rgb(30, 42, 56);
  position: relative;
  min-height: 180px;
  font-size: 16px;
  color: rgb(159, 173, 189);
  padding-top: 35px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #0b1622;
  font-size: 0.8em;
  transition: all ease-in-out 0.2s;
}

.calendar_day__not_current > span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 10px;
  width: 14px;
  height: 14px;
  font-weight: 500;
}

.calendar_day__not_current > .calendar_event {
  background-color: #e25b1d;
  border-radius: 15px;
  padding: 5px 15px;
  color: #fff;
  font-weight: 500;
  margin: 10px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  display: block;
}

.calendar_day__not_current:hover {
  background-color: #3db4f2;
  color: #fff;
}

.live {
  height: 24px;
  width: 24px;
  display: block;
  border-radius: 50%;
  background-color: #469beb;
  animation: pulse 1500ms infinite;
}

@keyframes pulse {
  0% {
    box-shadow: #469beb 0 0 0 0;
  }
  75% {
    box-shadow: #ff69b400 0 0 0 16px;
  }
}

.list {
  height: 120px;
  display: flex;
  margin: 0;
  position: relative;
}

.day {
  color: white;
  width: 90px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 0;
  background-color: #151f2e;
}

.events {
  width: 100%;
  background-color: transparent;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  flex-wrap: nowrap;
  overflow-y: hidden;
  border: 1px solid #151f2e;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-basis: auto;
  padding: 5px 5px;
  position: relative;
}

.mobile {
  display: none;

  @include responsive(smartphone-portrait) {
    display: block;
  }

  @include responsive(smartphone-landscape) {
    display: block;
  }

  @include responsive(tablet) {
    display: block;
  }
  // @include responsive(laptop) {
  //   display: block;
  // }
}
