@import "../mixins";

.date {
  color: white;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  z-index: 300;
}

.sub {
  display: flex;
  margin: 0 0.5em;
}

.camera {
  display: block;
  margin-right: 10px;
  color: #9fadbd;
}

.cog {
  margin-left: 10px;
  color: #9fadbd;
}

.icon_button {
  display: block;
  margin: 0 0.5em;
}

.switch_button {
  background-color: #3db4f2;
  padding: 15px;
  width: 100%;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 0 1em;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.switch_button:hover {
  background-color: #e25b1d;
}

.switch_container {
  display: flex;
}

.sticky {
  position: fixed;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: #151f2e;
  margin-top: 0;
}
