@import "../mixins";

.event {
  background-image: linear-gradient(rgb(11 22 34), rgb(11 22 34 / 70%)), url("https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx139630-oc4l8OtJ4tRQ.jpg");
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
  font-weight: 500;
  margin: 10px 0px;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  width: 220px;
  height: 60px;
  font-size: 1em;
  display: block;
  transition: all ease-in-out 0.2s;
  background-position: center;
  background-size: cover;
  border: 2px solid #0b1622;
}
