@import "../mixins";

.chip {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  z-index: 20;
  border-radius: 9999px;
  position: relative;
  padding: 0.2rem 0.25rem;
  margin: 0.2rem 0.1rem;
  font-size: 9px;
}
