@import "../mixins";

.footer {
  background-color: transparent;
  color: var(--foreground-text-color);
  position: absolute;
  width: 100%;

  display: flex;
  justify-content: center;

  align-items: center;

  h5 {
    margin-bottom: 0;
  }
}

.anilist {
  color: var(--foreground-text-highlight);
}
