@import "../mixins";

.nav {
  background-color: transparent;
  color: var(--foreground-text-color);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 5em;
  z-index: 15;
  @include responsive(smartphone-portrait) {
    padding: 1em;
  }
}

.title {
  color: var(--foreground-text-color);
  font-weight: bold;
  text-align: left;
  font-size: 2.5em;
  margin-bottom: 0;
  position: relative;
  @include responsive(smartphone-portrait) {
    font-size: 1.5em;
  }
  .badge {
    background: #fefefe;
    border-radius: 19px;
    width: 39px;
    text-align: center;
    color: var(--foreground-text-highlight);
    display: block;
    position: absolute;
    right: -30px;
    top: -5px;
    font-size: 11px;
    padding: 3px;

    @include responsive(smartphone-portrait) {
      width: 30px;
      font-size: 10px;
    }
  }
}

.sub {
  color: var(--foreground-text-color);
  font-weight: 600;
  text-align: left;
  font-size: 0.8em;
  display: none;
}

.text {
  margin-left: 10px;
}

.button {
  background-color: var(--foreground-text-highlight);
  padding: 12px;
  width: 148px;
  border: none;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 0 1em;
  text-align: center;

  &:hover {
    transform: scale(1.1);
    transition: all 0.6s ease;
    -webkit-box-shadow: 3px 4px 20px 0px var(--foreground-text-highlight);
    -moz-box-shadow: 3px 4px 20px 0px var(--foreground-text-highlight);
    box-shadow: 3px 4px 20px 0px var(--foreground-text-highlight);
  }
  @include responsive(smartphone-portrait) {
    width: 85px;
    padding: 10px;
  }
}

.blue {
  color: var(--foreground-text-highlight);
}

.container {
  display: flex;
  align-items: center;
}

.item {
  color: #9fadbd;
  font-weight: 500;
  margin: 1em 0;
  display: flex;
  align-items: center;
  transition: all ease 0.2s;
  &:hover {
    color: white;
  }
}

.desc {
  margin-left: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.logo {
  @include responsive(smartphone-portrait) {
    width: 80%;
    height: 80%;
  }
}

.arrow {
  color: #9fadbd;
  font-weight: 500;
  margin: 0 0.5em;
  @include responsive(smartphone-portrait) {
    display: none;
  }
}

.name {
  color: #9fadbd;
  font-weight: 500;
}
