@import "../mixins";

.nav {
  background-color: var(--header-background-color);
  color: var(--foreground-text-color);
  height: 80px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 2em 5em;
  align-items: center;

  @include responsive(smartphone-portrait) {
    height: 70px;
    padding: 1em 1em;
  }

  @include responsive(laptop) {
    height: 80px;
  }
}

.title {
  color: var(--foreground-text-color);
  font-weight: bold;
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 0;
  @include responsive(smartphone-portrait) {
    display: none;
  }
}

.sub {
  color: var(--foreground-text-color);
  font-weight: 600;
  text-align: left;
  font-size: 0.8em;
  display: none;
  @include responsive(smartphone-portrait) {
    display: none;
  }
}

.text {
  margin-left: 10px;
  @include responsive(smartphone-portrait) {
    display: none;
  }
}

.button {
  background-color: var(--foreground-text-highlight);
  padding: 15px;
  width: 150px;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 0 1em;
  text-align: center;

  &:hover {
    transform: scale(1.1);
    transition: all 0.6s ease;
    -webkit-box-shadow: 3px 4px 20px 0px var(--foreground-text-highlight);
    -moz-box-shadow: 3px 4px 20px 0px var(--foreground-text-highlight);
    box-shadow: 3px 4px 20px 0px var(--foreground-text-highlight);
  }
  @include responsive(smartphone-portrait) {
    width: 120px;
    padding: 10px;
  }
}

.blue {
  color: var(--foreground-text-highlight);
}

.container {
  display: flex;
  align-items: center;
}

.item {
  color: #9fadbd;
  font-weight: 500;
  margin: 1em 0;
  display: flex;
  align-items: center;
  transition: all ease 0.2s;
  &:hover {
    color: white;
  }
}

.desc {
  margin-left: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.logo {
  @include responsive(smartphone-portrait) {
    width: 80%;
    height: 80%;
  }
}

.arrow {
  color: #9fadbd;
  font-weight: 500;
  margin: 0 0.5em;
  @include responsive(smartphone-portrait) {
    display: none;
  }
}

.name {
  color: #9fadbd;
  font-weight: 500;
}
