$font-overpass: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --calendar-event: #e25b1d;
  --foreground-text-color: #fff;
  --header-background-color: #151f2e;
  --main-background-color: #0b1622;
  --foreground-text-highlight: #469beb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-overpass;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --max-width: 1100px;
    --border-radius: 12px;
    --calendar-event: #e25b1d;
    --foreground-text-color: #fff;
    --header-background-color: #151f2e;
  }

  html {
    color-scheme: dark;
  }
}

.tooltip {
  visibility: hidden;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 90%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  will-change: opacity, visibility;
  background-color: aqua;
}
