@import "./mixins";

.main {
  justify-content: space-between;
  align-items: center;
  padding: 2em 6rem;
  min-height: calc(100vh - 125px);
  background-color: #0b1622;

  @include responsive(smartphone-portrait) {
    padding: 1em 0;
  }
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-weight: 600;
  text-align: center;
}

.list {
  height: 120px;
  display: flex;
  margin: 0;
}

.day {
  color: white;
  width: 90px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 20px;
  background-color: #151f2e;
}

.events {
  width: 100%;
  background-color: antiquewhite;
}
