@import "../../mixins";

.date {
  color: white;
  font-weight: 700;
  margin-bottom: 0;
  margin: 0 1em;
  @include responsive(smartphone-portrait) {
    font-size: 1.1em;
    margin: 0 0.2em;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  z-index: 300;
}

.sub {
  display: flex;
  margin: 0 0.5em;
  align-items: center;
}

.camera {
  display: block;
  margin-right: 10px;
  color: #9fadbd;
}

.cog {
  color: #9fadbd;
  margin: 0 0.3em;
}

.icon_button {
  display: block;
  margin: 0 0.5em;
}

.switch_button {
  background-color: #3db4f2;
  padding: 15px;
  width: 100%;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 0 1em;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.switch_button:hover {
  background-color: #e25b1d;
}

.switch_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky {
  background-color: #151f2e;
  margin-top: 0;
  transform: translate3d(0px, 0, 0px) !important;
  z-index: 300 !important;
  top: 0px !important;
  left: 0 !important;
  width: 100% !important;
  padding: 1em 2.5em;

  @include responsive(smartphone-portrait) {
    padding: 1em 1em;
  }
}

.line {
  background: #68748670;
  border-color: #68748670;
  border-width: 0px;
  border-style: none;
  height: 1px;
}

.setting {
  margin-bottom: 0;
}

.legend {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #9fadbd;
  font-weight: 600;
}

.desc {
  margin-left: 10px;
}

.legends {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
